body{
  background-color: black;
  color: whitesmoke;
}

.hero-section{
  height: 80vh;
  width: 100%;
  background-color: #126A3F;
  border-radius: 2px;
}

.hero-headers{
  padding: 90px;
  color: whitesmoke;
  font-weight: bold;
  font-family: arial;
}

.hero-section h1{
  font-size: 72px;
}

.hero-section h3{
  font-size: 47px;
}

.grid-wrapper{
  background-color: #fbebce;
  color: #333;;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.grid-card{
  margin: 20px;
  background-color: #C4A484;
  height: 300px;
  border-radius: 10px;
  color: black;
  padding: 5px;
  box-shadow: 5px 5px 5px #65523f;
  text-align: center;
}

.card-img-rounded{
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.placeholders{
  text-align: center;
}
